@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}


.photographer_section a {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration:none
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
   
}

.photographer_section article img {
    height: 150px;
    width: 150px;
}

#photographers img {
    width: 300px; /* Largeur en pixels */
    height: 300px; /* Hauteur en pixels */
    border-radius: 50%; /* Optionnel : arrondir les coins */
}




.photographer-location {
   color: #901C1C;
   margin-top:-20px;
}

.photographer-price {
    color: hsla(0, 9%, 39%, 0.452);
    margin-top:-10px;
}

.photographer-tagline{
    margin-top:-10px;
}


/*page photographer*/

/* Style pour la section photographe */
.photograph-header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
      
    

}

/* Image du portrait du photographe */
#photographer-portrait {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Pour une image ronde */
    object-fit: cover; /* Pour assurer que l'image est bien cadrée */
    margin-right: 40px;
}

/* Conteneur pour le nom */
#name-container {
    font-size: 48px;
    font-weight: bold;
    color: #D3573C;
    margin: 0;
    margin-left: 20px;
}

/* Conteneur pour les informations de localisation */
#infos-container {
    font-size: 18px;
    color: #901C1C;
    margin: 10px 0;
    margin-left: 20px;
}

/* Conteneur pour la tagline */
#tagline-container {
    font-size: 16px;
    color: #6B6B6B;
    font-style:normal;
    margin-left: 20px;
}

/* Bouton pour contacter */

button.contact-button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5vw;

    
}

button.contact-button:hover {
    background-color: #901C1C;
}


/*css pour les images des photographes*/

#media-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 100px;
    gap: 20px;
    justify-content: space-between;
}

#media-container img, #media-container video {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
}

.container-likes{
    display:flex;
    justify-content: space-between;
    align-items: center;
    

    

}
.container-likes p{
    color:#901C1C;
    font-size:20px;
    font-weight:bold;
   
  
}



/* CSS pour le coeur */

.fa-solid.fa-heart.heart-icon {
    color: #901C1C;
    font-size: 20px;
    font-weight: bold;   
}

/*css pour coeur etlikes*/

.stylediv{
    display: flex;
    align-items: baseline;
    gap:5px;
}
   
   





